<h1>Help</h1>
<p>
  Get hepl on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help section</a>
  To get help on this sample app, see the
  <a href="http://railstutorial.jp"><em>Rails Tutorial help section</em>book</a>
</p>
